/* W3PRO.CSS 4.13 June 2019 by Jan Egil and Borge Refsnes */
/* Extract from normalize.css by Nicolas Gallagher and Jonathan Neal git.io/normalize */
/* End extract */
/* Source: https://www.w3schools.com/w3css/4/w3pro.css */
/* Converter: http://beautifytools.com/css-to-scss-converter.php */

@keyframes w3-spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(359deg);
	}
}
@keyframes fading {
	0% {
		opacity: 0;
	}
	50% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}
@keyframes opac {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
@keyframes animatetop {
	from {
		top: -300px;
		opacity: 0;
	}
	to {
		top: 0;
		opacity: 1;
	}
}
@keyframes animateleft {
	from {
		left: -300px;
		opacity: 0;
	}
	to {
		left: 0;
		opacity: 1;
	}
}
@keyframes animateright {
	from {
		right: -300px;
		opacity: 0;
	}
	to {
		right: 0;
		opacity: 1;
	}
}
@keyframes animatebottom {
	from {
		bottom: -300px;
		opacity: 0;
	}
	to {
		bottom: 0;
		opacity: 1;
	}
}
@keyframes animatezoom {
	from {
		transform: scale(0);
	}
	to {
		transform: scale(1);
	}
}
html {
	box-sizing: border-box;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	font-family: Verdana,sans-serif;
	font-size: 15px;
	line-height: 1.5;
	overflow-x: hidden;
}
* {
	box-sizing: inherit;
	&:before {
		box-sizing: inherit;
	}
	&:after {
		box-sizing: inherit;
	}
}
body {
	margin: 0;
	font-family: Verdana,sans-serif;
	font-size: 15px;
	line-height: 1.5;
}
article {
	display: block;
}
aside {
	display: block;
}
details {
	display: block;
}
figcaption {
	display: block;
}
figure {
	display: block;
	margin: 1em 40px;
}
footer {
	display: block;
}
header {
	display: block;
}
main {
	display: block;
}
menu {
	display: block;
}
nav {
	display: block;
}
section {
	display: block;
}
summary {
	display: list-item;
}
audio {
	display: inline-block;
	&:not([controls]) {
		display: none;
		height: 0;
	}
}
canvas {
	display: inline-block;
}
progress {
	display: inline-block;
	vertical-align: baseline;
}
video {
	display: inline-block;
}
[hidden] {
	display: none;
}
template {
	display: none;
}
a {
	background-color: transparent;
	color: inherit;
	&:active {
		outline-width: 0;
	}
	&:hover {
		outline-width: 0;
	}
}
abbr[title] {
	border-bottom: none;
	text-decoration: underline;
	text-decoration: underline dotted;
}
b {
	font-weight: bolder;
}
strong {
	font-weight: bolder;
}
dfn {
	font-style: italic;
}
mark {
	background: #ff0;
	color: #000;
}
small {
	font-size: 80%;
}
sub {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
	bottom: -0.25em;
}
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
	top: -0.5em;
}
img {
	border-style: none;
	vertical-align: middle;
}
code {
	font-family: monospace,monospace;
	font-size: 1em;
}
kbd {
	font-family: monospace,monospace;
	font-size: 1em;
}
pre {
	font-family: monospace,monospace;
	font-size: 1em;
}
samp {
	font-family: monospace,monospace;
	font-size: 1em;
}
hr {
	box-sizing: content-box;
	height: 0;
	overflow: visible;
	border: 0;
	border-top: 1px solid #eee;
	margin: 20px 0;
}
button {
	font: inherit;
	margin: 0;
	overflow: visible;
	text-transform: none;
	-webkit-appearance: button;
	&::-moz-focus-inner {
		border-style: none;
		padding: 0;
	}
	&:-moz-focusring {
		outline: 1px dotted ButtonText;
	}
}
input {
	font: inherit;
	margin: 0;
	overflow: visible;
}
select {
	font: inherit;
	margin: 0;
	text-transform: none;
}
textarea {
	font: inherit;
	margin: 0;
	overflow: auto;
}
optgroup {
	font: inherit;
	margin: 0;
	font-weight: bold;
}
[type=button] {
	-webkit-appearance: button;
	&::-moz-focus-inner {
		border-style: none;
		padding: 0;
	}
	&:-moz-focusring {
		outline: 1px dotted ButtonText;
	}
}
[type=reset] {
	-webkit-appearance: button;
	&::-moz-focus-inner {
		border-style: none;
		padding: 0;
	}
	&:-moz-focusring {
		outline: 1px dotted ButtonText;
	}
}
[type=submit] {
	-webkit-appearance: button;
	&::-moz-focus-inner {
		border-style: none;
		padding: 0;
	}
	&:-moz-focusring {
		outline: 1px dotted ButtonText;
	}
}
fieldset {
	border: 1px solid #c0c0c0;
	margin: 0 2px;
	padding: .35em .625em .75em;
}
legend {
	color: inherit;
	display: table;
	max-width: 100%;
	padding: 0;
	white-space: normal;
}
[type=checkbox] {
	padding: 0;
}
[type=radio] {
	padding: 0;
}
[type=number] {
	&::-webkit-inner-spin-button {
		height: auto;
	}
	&::-webkit-outer-spin-button {
		height: auto;
	}
}
[type=search] {
	-webkit-appearance: textfield;
	outline-offset: -2px;
	&::-webkit-search-decoration {
		-webkit-appearance: none;
	}
}
&::-webkit-file-upload-button {
	-webkit-appearance: button;
	font: inherit;
}
h1 {
	font-size: 36px;
	font-family: "Segoe UI",Arial,sans-serif;
	font-weight: 400;
	margin: 10px 0;
}
h2 {
	font-size: 30px;
	font-family: "Segoe UI",Arial,sans-serif;
	font-weight: 400;
	margin: 10px 0;
}
h3 {
	font-size: 24px;
	font-family: "Segoe UI",Arial,sans-serif;
	font-weight: 400;
	margin: 10px 0;
}
h4 {
	font-size: 20px;
	font-family: "Segoe UI",Arial,sans-serif;
	font-weight: 400;
	margin: 10px 0;
}
h5 {
	font-size: 18px;
	font-family: "Segoe UI",Arial,sans-serif;
	font-weight: 400;
	margin: 10px 0;
}
h6 {
	font-size: 16px;
	font-family: "Segoe UI",Arial,sans-serif;
	font-weight: 400;
	margin: 10px 0;
}
.w3-serif {
	font-family: serif;
}
.w3-wide {
	letter-spacing: 4px;
}
.w3-image {
	max-width: 100%;
	height: auto;
}
.w3-table {
	border-collapse: collapse;
	border-spacing: 0;
	width: 100%;
	display: table;
	td {
		padding: 8px 8px;
		display: table-cell;
		text-align: left;
		vertical-align: top;
		&:first-child {
			padding-left: 16px;
		}
	}
	th {
		padding: 8px 8px;
		display: table-cell;
		text-align: left;
		vertical-align: top;
		&:first-child {
			padding-left: 16px;
		}
	}
}
.w3-table-all {
	border-collapse: collapse;
	border-spacing: 0;
	width: 100%;
	display: table;
	border: 1px solid #ccc;
	tr {
		border-bottom: 1px solid #ddd;
		&:nth-child(odd) {
			background-color: #fff;
		}
		&:nth-child(even) {
			background-color: #f1f1f1;
		}
	}
	td {
		padding: 8px 8px;
		display: table-cell;
		text-align: left;
		vertical-align: top;
		&:first-child {
			padding-left: 16px;
		}
	}
	th {
		padding: 8px 8px;
		display: table-cell;
		text-align: left;
		vertical-align: top;
		&:first-child {
			padding-left: 16px;
		}
	}
}
.w3-bordered {
	tr {
		border-bottom: 1px solid #ddd;
	}
}
.w3-striped {
	tbody {
		tr {
			&:nth-child(even) {
				background-color: #f1f1f1;
			}
		}
	}
}
.w3-hoverable {
	tbody {
		tr {
			&:hover {
				background-color: #ccc;
			}
		}
	}
}
.w3-ul.w3-hoverable {
	li {
		&:hover {
			background-color: #ccc;
		}
	}
}
.w3-centered {
	tr {
		th {
			text-align: center;
		}
		td {
			text-align: center;
		}
	}
}
.w3-btn {
	border: none;
	display: inline-block;
	padding: 8px 16px;
	vertical-align: middle;
	overflow: hidden;
	text-decoration: none;
	color: inherit;
	background-color: inherit;
	text-align: center;
	cursor: pointer;
	white-space: nowrap;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	&:hover {
		box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
	}
	&:disabled {
		cursor: not-allowed;
		opacity: 0.3;
		&:hover {
			box-shadow: none;
		}
	}
}
.w3-button {
	border: none;
	display: inline-block;
	padding: 8px 16px;
	vertical-align: middle;
	overflow: hidden;
	text-decoration: none;
	color: inherit;
	background-color: inherit;
	text-align: center;
	cursor: pointer;
	white-space: nowrap;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	&:disabled {
		cursor: not-allowed;
		opacity: 0.3;
	}
	&:hover {
		color: #000 !important;
		background-color: #ccc !important;
	}
}
.w3-disabled {
	cursor: not-allowed;
	opacity: 0.3;
	* {
		pointer-events: none;
	}
}
&:disabled {
	* {
		pointer-events: none;
	}
}
.w3-btn.w3-disabled {
	&:hover {
		box-shadow: none;
	}
}
.w3-badge {
	background-color: #000;
	color: #fff;
	display: inline-block;
	padding-left: 8px;
	padding-right: 8px;
	text-align: center;
	border-radius: 50%;
}
.w3-tag {
	background-color: #000;
	color: #fff;
	display: inline-block;
	padding-left: 8px;
	padding-right: 8px;
	text-align: center;
}
.w3-ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
	li {
		padding: 8px 16px;
		border-bottom: 1px solid #ddd;
		&:last-child {
			border-bottom: none;
		}
	}
}
.w3-tooltip {
	position: relative;
	.w3-text {
		display: none;
	}
	&:hover {
		.w3-text {
			display: inline-block;
		}
	}
}
.w3-display-container {
	position: relative;
	&:hover {
		.w3-display-hover {
			display: block;
		}
		span.w3-display-hover {
			display: inline-block;
		}
	}
}
.w3-ripple {
	&:active {
		opacity: 0.5;
	}
	transition: opacity 0s;
}
.w3-input {
	padding: 8px;
	display: block;
	border: none;
	border-bottom: 1px solid #ccc;
	width: 100%;
}
.w3-select {
	padding: 9px 0;
	width: 100%;
	border: none;
	border-bottom: 1px solid #ccc;
}
.w3-dropdown-click {
	position: relative;
	display: inline-block;
	cursor: pointer;
	&:hover {
		background-color: #ccc;
		color: #000;
		>.w3-button {
			&:first-child {
				background-color: #ccc;
				color: #000;
			}
		}
	}
}
.w3-dropdown-hover {
	position: relative;
	display: inline-block;
	cursor: pointer;
	&:hover {
		.w3-dropdown-content {
			display: block;
		}
		>.w3-button {
			&:first-child {
				background-color: #ccc;
				color: #000;
			}
		}
	}
	&:first-child {
		background-color: #ccc;
		color: #000;
	}
}
.w3-dropdown-content {
	cursor: auto;
	color: #000;
	background-color: #fff;
	display: none;
	position: absolute;
	min-width: 160px;
	margin: 0;
	padding: 0;
	z-index: 1;
}
.w3-check {
	width: 24px;
	height: 24px;
	position: relative;
	top: 6px;
}
.w3-radio {
	width: 24px;
	height: 24px;
	position: relative;
	top: 6px;
}
.w3-sidebar {
	height: 100%;
	width: 200px;
	background-color: #fff;
	position: fixed !important;
	z-index: 1;
	overflow: auto;
}
.w3-bar-block {
	.w3-dropdown-hover {
		width: 100%;
		.w3-dropdown-content {
			min-width: 100%;
		}
		.w3-button {
			width: 100%;
			text-align: left;
			padding: 8px 16px;
		}
	}
	.w3-dropdown-click {
		width: 100%;
		.w3-dropdown-content {
			min-width: 100%;
		}
		.w3-button {
			width: 100%;
			text-align: left;
			padding: 8px 16px;
		}
	}
	.w3-bar-item {
		width: 100%;
		display: block;
		padding: 8px 16px;
		text-align: left;
		border: none;
		white-space: normal;
		float: none;
		outline: 0;
	}
}
.w3-main {
	transition: margin-left .4s;
}
#main {
	transition: margin-left .4s;
}
.w3-modal {
	z-index: 3;
	display: none;
	padding-top: 100px;
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgb(0,0,0);
	background-color: rgba(0,0,0,0.4);
}
.w3-modal-content {
	margin: auto;
	background-color: #fff;
	position: relative;
	padding: 0;
	outline: 0;
	width: 600px;
}
.w3-bar {
	width: 100%;
	overflow: hidden;
	.w3-bar-item {
		padding: 8px 16px;
		float: left;
		width: auto;
		border: none;
		display: block;
		outline: 0;
	}
	.w3-dropdown-hover {
		position: static;
		float: left;
	}
	.w3-dropdown-click {
		position: static;
		float: left;
	}
	.w3-button {
		white-space: normal;
	}
	&:before {
		content: "";
		display: table;
		clear: both;
	}
	&:after {
		content: "";
		display: table;
		clear: both;
	}
}
.w3-center {
	.w3-bar {
		display: inline-block;
		width: auto;
	}
	text-align: center !important;
}
.w3-bar-block.w3-center {
	.w3-bar-item {
		text-align: center;
	}
}
.w3-block {
	display: block;
	width: 100%;
}
.w3-responsive {
	display: block;
	overflow-x: auto;
}
.w3-container {
	&:after {
		content: "";
		display: table;
		clear: both;
	}
	&:before {
		content: "";
		display: table;
		clear: both;
	}
	padding: 0.01em 16px;
}
.w3-panel {
	&:after {
		content: "";
		display: table;
		clear: both;
	}
	&:before {
		content: "";
		display: table;
		clear: both;
	}
	padding: 0.01em 16px;
	margin-top: 16px;
	margin-bottom: 16px;
}
.w3-row {
	&:after {
		content: "";
		display: table;
		clear: both;
	}
	&:before {
		content: "";
		display: table;
		clear: both;
	}
}
.w3-row-padding {
	&:after {
		content: "";
		display: table;
		clear: both;
	}
	&:before {
		content: "";
		display: table;
		clear: both;
	}
	padding: 0 8px;
	>.w3-half {
		padding: 0 8px;
	}
	>.w3-third {
		padding: 0 8px;
	}
	>.w3-twothird {
		padding: 0 8px;
	}
	>.w3-threequarter {
		padding: 0 8px;
	}
	>.w3-quarter {
		padding: 0 8px;
	}
	>.w3-col {
		padding: 0 8px;
	}
}
.w3-cell-row {
	&:before {
		content: "";
		display: table;
		clear: both;
	}
	&:after {
		content: "";
		display: table;
		clear: both;
	}
	display: table;
	width: 100%;
}
.w3-clear {
	&:after {
		content: "";
		display: table;
		clear: both;
	}
	&:before {
		content: "";
		display: table;
		clear: both;
	}
}
.w3-col {
	float: left;
	width: 100%;
}
.w3-half {
	float: left;
	width: 100%;
}
.w3-third {
	float: left;
	width: 100%;
}
.w3-twothird {
	float: left;
	width: 100%;
}
.w3-threequarter {
	float: left;
	width: 100%;
}
.w3-quarter {
	float: left;
	width: 100%;
}
.w3-col.s1 {
	width: 8.33333%;
}
.w3-col.s2 {
	width: 16.66666%;
}
.w3-col.s3 {
	width: 24.99999%;
}
.w3-col.s4 {
	width: 33.33333%;
}
.w3-col.s5 {
	width: 41.66666%;
}
.w3-col.s6 {
	width: 49.99999%;
}
.w3-col.s7 {
	width: 58.33333%;
}
.w3-col.s8 {
	width: 66.66666%;
}
.w3-col.s9 {
	width: 74.99999%;
}
.w3-col.s10 {
	width: 83.33333%;
}
.w3-col.s11 {
	width: 91.66666%;
}
.w3-col.s12 {
	width: 99.99999%;
}
.w3-rest {
	overflow: hidden;
}
.w3-stretch {
	margin-left: -16px;
	margin-right: -16px;
}
.w3-content {
	margin-left: auto;
	margin-right: auto;
	max-width: 980px;
}
.w3-auto {
	margin-left: auto;
	margin-right: auto;
	max-width: 1140px;
}
.w3-cell {
	display: table-cell;
}
.w3-cell-top {
	vertical-align: top;
}
.w3-cell-middle {
	vertical-align: middle;
}
.w3-cell-bottom {
	vertical-align: bottom;
}
.w3-hide {
	display: none !important;
}
.w3-show-block {
	display: block !important;
}
.w3-show {
	display: block !important;
}
.w3-show-inline-block {
	display: inline-block !important;
}
.w3-top {
	position: fixed;
	width: 100%;
	z-index: 1;
	top: 0;
}
.w3-bottom {
	position: fixed;
	width: 100%;
	z-index: 1;
	bottom: 0;
}
.w3-overlay {
	position: fixed;
	display: none;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0,0,0,0.5);
	z-index: 2;
}
.w3-display-topleft {
	position: absolute;
	left: 0;
	top: 0;
}
.w3-display-topright {
	position: absolute;
	right: 0;
	top: 0;
}
.w3-display-bottomleft {
	position: absolute;
	left: 0;
	bottom: 0;
}
.w3-display-bottomright {
	position: absolute;
	right: 0;
	bottom: 0;
}
.w3-display-middle {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
}
.w3-display-left {
	position: absolute;
	top: 50%;
	left: 0%;
	transform: translate(0%,-50%);
	-ms-transform: translate(-0%,-50%);
}
.w3-display-right {
	position: absolute;
	top: 50%;
	right: 0%;
	transform: translate(0%,-50%);
	-ms-transform: translate(0%,-50%);
}
.w3-display-topmiddle {
	position: absolute;
	left: 50%;
	top: 0;
	transform: translate(-50%,0%);
	-ms-transform: translate(-50%,0%);
}
.w3-display-bottommiddle {
	position: absolute;
	left: 50%;
	bottom: 0;
	transform: translate(-50%,0%);
	-ms-transform: translate(-50%,0%);
}
.w3-display-hover {
	display: none;
}
.w3-display-position {
	position: absolute;
}
.w3-circle {
	border-radius: 50%;
}
.w3-round-small {
	border-radius: 2px;
}
.w3-round {
	border-radius: 4px;
}
.w3-round-medium {
	border-radius: 4px;
}
.w3-round-large {
	border-radius: 8px;
}
.w3-round-xlarge {
	border-radius: 16px;
}
.w3-round-xxlarge {
	border-radius: 32px;
}
.w3-code {
	font-family: Consolas,"courier new";
	font-size: 16px;
	width: auto;
	background-color: #fff;
	padding: 8px 12px;
	border-left: 4px solid #4CAF50;
	word-wrap: break-word;
	margin-top: 16px !important;
	margin-bottom: 16px !important;
}
.w3-codespan {
	font-family: Consolas,"courier new";
	font-size: 16px;
	color: crimson;
	background-color: #f1f1f1;
	padding-left: 4px;
	padding-right: 4px;
	font-size: 110%;
}
.w3-card {
	box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
}
.w3-card-2 {
	box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
}
.w3-card-4 {
	box-shadow: 0 4px 10px 0 rgba(0,0,0,0.2),0 4px 20px 0 rgba(0,0,0,0.19);
}
.w3-hover-shadow {
	&:hover {
		box-shadow: 0 4px 10px 0 rgba(0,0,0,0.2),0 4px 20px 0 rgba(0,0,0,0.19);
	}
}
.w3-spin {
	animation: w3-spin 2s infinite linear;
}
.w3-animate-fading {
	animation: fading 10s infinite;
}
.w3-animate-opacity {
	animation: opac 0.8s;
}
.w3-animate-top {
	position: relative;
	animation: animatetop 0.4s;
}
.w3-animate-left {
	position: relative;
	animation: animateleft 0.4s;
}
.w3-animate-right {
	position: relative;
	animation: animateright 0.4s;
}
.w3-animate-bottom {
	position: relative;
	animation: animatebottom 0.4s;
}
.w3-animate-zoom {
	animation: animatezoom 0.6s;
}
.w3-animate-input {
	transition: width 0.4s ease-in-out;
	&:focus {
		width: 100% !important;
	}
}
.w3-opacity {
	opacity: 0.60;
}
.w3-hover-opacity {
	&:hover {
		opacity: 0.60;
	}
}
.w3-opacity-off {
	opacity: 1;
}
.w3-hover-opacity-off {
	&:hover {
		opacity: 1;
	}
}
.w3-opacity-max {
	opacity: 0.25;
}
.w3-opacity-min {
	opacity: 0.75;
}
.w3-greyscale-max {
	filter: grayscale(100%);
}
.w3-grayscale-max {
	filter: grayscale(100%);
}
.w3-hover-greyscale {
	&:hover {
		filter: grayscale(100%);
	}
}
.w3-hover-grayscale {
	&:hover {
		filter: grayscale(100%);
	}
}
.w3-greyscale {
	filter: grayscale(75%);
}
.w3-grayscale {
	filter: grayscale(75%);
}
.w3-greyscale-min {
	filter: grayscale(50%);
}
.w3-grayscale-min {
	filter: grayscale(50%);
}
.w3-sepia {
	filter: sepia(75%);
}
.w3-sepia-max {
	filter: sepia(100%);
}
.w3-hover-sepia {
	&:hover {
		filter: sepia(100%);
	}
}
.w3-sepia-min {
	filter: sepia(50%);
}
.w3-tiny {
	font-size: 10px !important;
}
.w3-small {
	font-size: 12px !important;
}
.w3-medium {
	font-size: 15px !important;
}
.w3-large {
	font-size: 18px !important;
}
.w3-xlarge {
	font-size: 24px !important;
}
.w3-xxlarge {
	font-size: 36px !important;
}
.w3-xxxlarge {
	font-size: 48px !important;
}
.w3-jumbo {
	font-size: 64px !important;
}
.w3-left-align {
	text-align: left !important;
}
.w3-right-align {
	text-align: right !important;
}
.w3-justify {
	text-align: justify !important;
}
.w3-border-0 {
	border: 0 !important;
}
.w3-border {
	border: 1px solid #ccc !important;
}
.w3-border-top {
	border-top: 1px solid #ccc !important;
}
.w3-border-bottom {
	border-bottom: 1px solid #ccc !important;
}
.w3-border-left {
	border-left: 1px solid #ccc !important;
}
.w3-border-right {
	border-right: 1px solid #ccc !important;
}
.w3-topbar {
	border-top: 6px solid #ccc !important;
}
.w3-bottombar {
	border-bottom: 6px solid #ccc !important;
}
.w3-leftbar {
	border-left: 6px solid #ccc !important;
}
.w3-rightbar {
	border-right: 6px solid #ccc !important;
}
.w3-section {
	margin-top: 16px !important;
	margin-bottom: 16px !important;
}
.w3-margin {
	margin: 16px !important;
}
.w3-margin-top {
	margin-top: 16px !important;
}
.w3-margin-bottom {
	margin-bottom: 16px !important;
}
.w3-margin-left {
	margin-left: 16px !important;
}
.w3-margin-right {
	margin-right: 16px !important;
}
.w3-padding-small {
	padding: 4px 8px !important;
}
.w3-padding {
	padding: 8px 16px !important;
}
.w3-padding-large {
	padding: 12px 24px !important;
}
.w3-padding-16 {
	padding-top: 16px !important;
	padding-bottom: 16px !important;
}
.w3-padding-24 {
	padding-top: 24px !important;
	padding-bottom: 24px !important;
}
.w3-padding-32 {
	padding-top: 32px !important;
	padding-bottom: 32px !important;
}
.w3-padding-48 {
	padding-top: 48px !important;
	padding-bottom: 48px !important;
}
.w3-padding-64 {
	padding-top: 64px !important;
	padding-bottom: 64px !important;
}
.w3-left {
	float: left !important;
}
.w3-right {
	float: right !important;
}
.w3-transparent {
	background-color: transparent !important;
}
.w3-hover-none {
	&:hover {
		background-color: transparent !important;
		box-shadow: none !important;
	}
}
@media (min-width:601px) {
	.w3-col.m1 {
		width: 8.33333%;
	}
	.w3-col.m2 {
		width: 16.66666%;
	}
	.w3-col.m3 {
		width: 24.99999%;
	}
	.w3-quarter {
		width: 24.99999%;
	}
	.w3-col.m4 {
		width: 33.33333%;
	}
	.w3-third {
		width: 33.33333%;
	}
	.w3-col.m5 {
		width: 41.66666%;
	}
	.w3-col.m6 {
		width: 49.99999%;
	}
	.w3-half {
		width: 49.99999%;
	}
	.w3-col.m7 {
		width: 58.33333%;
	}
	.w3-col.m8 {
		width: 66.66666%;
	}
	.w3-twothird {
		width: 66.66666%;
	}
	.w3-col.m9 {
		width: 74.99999%;
	}
	.w3-threequarter {
		width: 74.99999%;
	}
	.w3-col.m10 {
		width: 83.33333%;
	}
	.w3-col.m11 {
		width: 91.66666%;
	}
	.w3-col.m12 {
		width: 99.99999%;
	}
}
@media (min-width:993px) {
	.w3-col.l1 {
		width: 8.33333%;
	}
	.w3-col.l2 {
		width: 16.66666%;
	}
	.w3-col.l3 {
		width: 24.99999%;
	}
	.w3-col.l4 {
		width: 33.33333%;
	}
	.w3-col.l5 {
		width: 41.66666%;
	}
	.w3-col.l6 {
		width: 49.99999%;
	}
	.w3-col.l7 {
		width: 58.33333%;
	}
	.w3-col.l8 {
		width: 66.66666%;
	}
	.w3-col.l9 {
		width: 74.99999%;
	}
	.w3-col.l10 {
		width: 83.33333%;
	}
	.w3-col.l11 {
		width: 91.66666%;
	}
	.w3-col.l12 {
		width: 99.99999%;
	}
	.w3-modal-content {
		width: 900px;
	}
	.w3-hide-large {
		display: none !important;
	}
	.w3-sidebar.w3-collapse {
		display: block !important;
	}
}
@media (max-width:1205px) {
	.w3-auto {
		max-width: 95%;
	}
}
@media (max-width:600px) {
	.w3-modal-content {
		margin: 0 10px;
		width: auto !important;
	}
	.w3-modal {
		padding-top: 30px;
	}
	.w3-dropdown-hover.w3-mobile {
		.w3-dropdown-content {
			position: relative;
		}
		text-align: center;
		width: 100%;
		.w3-btn {
			width: 100%;
		}
		.w3-button {
			width: 100%;
		}
	}
	.w3-dropdown-click.w3-mobile {
		.w3-dropdown-content {
			position: relative;
		}
		text-align: center;
		width: 100%;
		.w3-btn {
			width: 100%;
		}
		.w3-button {
			width: 100%;
		}
	}
	.w3-hide-small {
		display: none !important;
	}
	.w3-mobile {
		display: block;
		width: 100% !important;
	}
	.w3-bar-item.w3-mobile {
		text-align: center;
	}
}
@media (max-width:768px) {
	.w3-modal-content {
		width: 500px;
	}
	.w3-modal {
		padding-top: 50px;
	}
}
@media (max-width:992px) and (min-width:601px) {
	.w3-hide-medium {
		display: none !important;
	}
}
@media (max-width:992px) {
	.w3-sidebar.w3-collapse {
		display: none;
	}
	.w3-main {
		margin-left: 0 !important;
		margin-right: 0 !important;
	}
	.w3-auto {
		max-width: 100%;
	}
}
